.section {
  text-align:center !important;
}
.fp-tooltip {
  color: black !important;
}
svg {
  padding-bottom: 5px;
}
#map {
  position: relative;
  height: 100%;
  min-height: 500px;
  width: 100%;
}